@font-face {
  font-family: Ogg;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Ogg-Roman.eot");
  src: url("../assets/fonts/Ogg-Roman.woff") format("woff");
}
@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
:focus {
  outline: none;
}

body {
  font-family: aktiv-grotesk, sans-serif;
  position: relative;
}

.hover-underline {
  color: black;
  text-decoration: none;
  position: relative;
}

.hover-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.hover-underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

section {
  padding: 3em 10em;
  position: relative;
}
section:not(.landing) {
  background: white;
}
section header {
  margin: 3em auto 5em auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
section header:after {
  content: "";
  display: block;
  width: 100%;
  height: 40%;
  background: #D49E8D;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
section header h2 {
  font-family: Ogg, serif;
  font-size: 6em;
  font-weight: 400;
  color: black;
  mix-blend-mode: soft-light;
  margin: 0;
}

img {
  max-width: 100%;
}

nav .mobile-nav--btn {
  display: none;
}
nav.main-nav {
  position: fixed;
  top: 50vh;
  z-index: 10;
  transform: rotate(270deg);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-transform: lowercase;
  left: -9em;
  font-family: titling-gothic-fb, sans-serif;
}
nav .main-nav--item {
  margin: 0 1em;
  cursor: pointer;
}
nav .main-nav--item.selected:after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background: #DED1BD;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
nav .main-nav--list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  text-transform: lowercase;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;
}

#spacer {
  height: 100vh;
}

.landing {
  height: 100vh;
  background: #DED1BD;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -1;
}
.landing .landing-wrap {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}
.landing p {
  width: 60vw;
  font-size: 7em;
}
.landing span {
  color: #faf6f2;
}
.landing .landing--badge {
  max-width: 200px;
  position: relative;
  bottom: 8em;
  right: 0;
  animation: rotation 12s infinite linear;
}

.about .about--content {
  display: flex;
}
.about .about--text-title {
  font-size: 3em;
}
.about .about--text {
  border-top: 3px solid black;
  margin: 0 1em;
  padding: 0 3em;
  flex: 1 1 60%;
}
.about .about-text--secondary {
  font-size: 2em;
}
.about .about--img {
  background: url(../assets/about-me%20image.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: left 10em;
  background-repeat: no-repeat;
  flex: 1 1 40%;
}
.about .about--img img {
  opacity: 0;
  visibility: hidden;
}

.portfolio header:after {
  background: #B08401;
}
.portfolio .portfolio-resume-content {
  text-align: center;
  margin: 2em 0;
}
.portfolio .web-design-section {
  display: flex;
  flex-flow: wrap;
}
.portfolio .web-design-item {
  position: relative;
  cursor: pointer;
  flex: 1 1 50%;
}
.portfolio .web-design-item figcaption {
  text-align: center;
}
.portfolio .web-design-item .web-design-item--hover {
  position: absolute;
  top: 0;
  width: 80%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: visibility 0s, opacity 0.5s linear;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.portfolio .web-design-item .web-design--overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.portfolio .web-design-item .web-design--overlay a {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.portfolio .web-design-item:hover .web-design-item--hover {
  visibility: visible;
  opacity: 1;
}

.contact {
  text-align: center;
}
.contact header:after {
  background: #ded1bd;
}
.contact .contact-main {
  font-size: 1.3em;
}
.contact .contact-main span {
  font-family: Ogg, serif;
  font-size: 1.3em;
  font-weight: 800;
  color: #b08401;
}
.contact .contact-links {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 2em 0 5em 0;
}
.contact .contact-links .contact-link-item {
  margin: 0 2em;
}

footer {
  text-align: center;
  padding: 1em 0;
  background: #683b2b;
  color: #faf6f2;
}

/*mobile and tablets*/
@media (max-width: 768px) {
  nav .mobile-nav--btn {
    display: block;
    cursor: pointer;
    padding-right: 1em;
  }
  nav.main-nav {
    transform: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1em 0;
  }
  nav .main-nav--list-wrap .main-nav--list {
    display: none;
    visibility: visible;
    opacity: 1;
  }
  nav .main-nav--list-wrap .main-nav--list.active {
    display: block;
    position: absolute;
    right: 0;
  }

  section {
    padding: 1em;
  }

  .landing p {
    font-size: 3.8em;
    width: 80%;
  }

  .about .about--img,
.about .about--text {
    flex: 1 1 100%;
  }
  .about .about--img {
    background-attachment: scroll;
    background-position: center center;
  }
  .about .about--text {
    margin-top: 1em;
    border-top: 0;
    padding: 0;
  }
  .about .about-text--secondary {
    font-size: 1.3em;
  }
  .about .about--content {
    flex-flow: wrap;
  }

  .portfolio .web-design-item {
    flex: 1 1 100%;
    margin: 2em 0;
  }
}

/*# sourceMappingURL=style.css.map */
